@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-size
$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 18px;
$fontSize5: 21px;
$fontSize6: 28px;
$fontSize7: 35px;
$fontSize8: 45px;
$fontSize9: 70px;
